<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Robot Driver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3D508D81D7AF3A60063F52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D508F11D7AF3A70063F52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D508FC1D7AF3A70063F52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
